<main role="main" class="container">
  <div class="shadow-sm p-3 mb-5 bg-white rounded auth-form">
    <h3 class="text-center">Please sign in</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input
          type="text"
          class="form-control"
          id="inputUsername"
          required=""
          autofocus=""
          [formControlName]="'username'"
        />
      </div>

      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          required=""
          [formControlName]="'password'"
        />
      </div>

      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</main>
