<main role="main" class="container">
  <div class="shadow-sm p-3 mb-5 bg-white rounded auth-form">
    <h3 class="text-center">Registration</h3>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input
          type="text"
          class="form-control"
          id="inputUsername"
          [formControlName]="'username'"
        />
      </div>

      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          [formControlName]="'email'"
        />
      </div>

      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          [formControlName]="'password'"
        />
      </div>

      <div class="form-group">
        <label for="inputConfirmPassword">Confirm password</label>
        <input
          type="password"
          class="form-control"
          id="inputConfirmPassword"
          [formControlName]="'confirmPassword'"
        />
      </div>

      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</main>
