/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #f3f3f3;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
}
